.custom-list li {
    /* list-style-image: url('/checkmark.svg'); */

    padding: 0 0 0 14px;
    list-style: none;
    background-image: url("/checkmark.svg");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 10px;
}

.custom-list li::marker {
    font-size: 1.5rem;
}
