@import "tailwindcss";

@font-face {
    font-family: "Manrope";
    src: url("/fonts/Manrope-VariableFont_wght.ttf") format("truetype");
}

:root {
    --background: #f9f8f6;
    --foreground: #171717;
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: "Manrope", sans-serif;
}
