@import "tailwindcss";

@font-face {
    font-family: "Manrope";
    src: url("/fonts/Manrope-VariableFont_wght.ttf") format("truetype");
}

:root {
  --background: #f9f8f6;
  --foreground: #171717;
  --novel-black: #222222;
  --novel-highlight-default: #f5f5f5;
  --novel-highlight-purple: #f3e8ff;
  --novel-highlight-red: #fee2e2;
  --novel-highlight-yellow: #fef9c3;
  --novel-highlight-blue: #dbeafe;
  --novel-highlight-green: #dcfce7;
  --novel-highlight-orange: #ffedd5;
  --novel-highlight-pink: #fce7f3;
  --novel-highlight-gray: #f3f4f6;
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: "Manrope", sans-serif;
}

.or {
    display: flex;
    justify-content: center;
    align-items: center;
    color: grey;
}

.or:after,
.or:before {
    content: "";
    display: block;
    background: grey;
    width: 100%;
    height: 1px;
    margin: 0 10px;
}
